<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootstrap-4.ru/docs/5.0/examples/cover/cover.css">
    <title>Главная</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Сайт на golang</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Главная</h1>
        <p>Пользователь: {{ .Name }}</p>
        <p>Возраст: {{ .Age }}</p>
        <p>Зарплата: {{ .Money }}</p>
        <p><b>Хобби</b></p>
        <ul>
            {{ range .Hobbies }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>

        {{if eq .Name "Slava"}}
        <span>привет Слава!</span>
        {{ else }}
        <span>Ты кто?</span>
        {{ end }}
    </main>

    <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>



</body>
</html>